#navigationBar{
    width: 100vw;
    height: 12vh;
    position:fixed;
    background-color: rgba(104, 97, 122, 0.897);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    color: rgb(71, 130, 179);
    width: fit-content;
    height: fit-content;
    background-color: aqua;
}

#hiMe{
    
    width: 6vw;
    height: 10vh;
}

@media only screen and (max-width: 950px) {
    h1{
        font-size: calc(1em + 2.5vh);
        
    }
    #hiMe{
    
        width: 20vw;
        height: 10vh;
    }
}